body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(30, 30px,100%);
   
   
}

.panel:first-child{
    background-color: rgb(5, 169, 5);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 2%;
    grid-column: 1/31;
}

.panel a{
   display: flex;
   align-items: center;
   text-decoration: none;
   gap: 10px;
   padding: 13px;
   color: black;
}

.panel:nth-child(2){
   display: flex;
   justify-content: center;
   border-right: 2px solid rgba(0, 0, 0, 0.236);
   border-bottom: 2px solid rgba(0, 0, 0, 0.236);
   grid-column: 1/2;
}

.panel:nth-child(3){
    font-size: 15px;
    display: flex;
    justify-content: center;
    border-right: 2px solid rgba(0, 0, 0, 0.236);
    border-bottom: 2px solid rgba(0, 0, 0, 0.236);
    grid-column: 1/2;
 }

 .panel:nth-child(4){
    display: flex;
    justify-content: center;
    border-right: 2px solid rgba(0, 0, 0, 0.236);
    border-bottom: 2px solid rgba(0, 0, 0, 0.236);
    grid-column: 1/2;
 }

 .panel:nth-child(5){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgba(0, 0, 0, 0.236);
    grid-column: 1/2;
    grid-row: 5/6;
    height: 450px;
 }

 .panel:nth-child(6){
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px ;
    border: 2px solid green;
    grid-column: 3/30;
    grid-row: 2/6;

 }

 .panel:nth-child(2):hover{
  background-color: rgb(220, 213, 213);
}

.panel:nth-child(3):hover{
  background-color: rgb(220, 213, 213);
}

.panel:nth-child(4):hover{
  background-color: rgb(220, 213, 213);
}

.panel:nth-child(2):active{
  background-color: rgb(181, 176, 176);
}

.panel:nth-child(3):active{
  background-color: rgb(181, 176, 176);
}

.panel:nth-child(4):active{
  background-color: rgb(181, 176, 176);
}

 .title h3{
    margin: 0;
   background-color: green;
   padding: 7px;
 }

 #imageBox {
   background-color: rgb(219, 213, 213);
   border: 1px solid black;
   width: 210px; 
   height: 210px; 
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden; 
   float: right;
   margin-top: 15px;
   margin-right: 100px;
}

#imageBox img {
   max-width: 100%;
   max-height: 100%;
   display: block;
   margin: auto; /* Center the image */
}

.info-container{
   display: flex;
   padding-top: 15px;
   padding-left: 40px;
   gap: 25px;
 }

 .info-container2{
   display: flex;
   padding-top: 15px;
   padding-left: 40px;
   gap: 25px;
 }

 .info-container3{
   display: flex;
   padding-top: 15px;
   padding-left: 40px;
   gap: 25px;
 }

 .info-container4{
   display: flex;
   padding-top: 15px;
   padding-left: 40px;
   gap: 25px;
 }

 .info-container5{
   display: flex;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 40px;
   gap: 25px;
 }

 .info-container6{
   display: flex;
   padding-left: 40px;
   gap: 25px;
 }

 .input1{
   border-radius: 7px;
   width: 140px;
 }

.input2{
   border-radius: 7px;
   
 }

 .input3{
   border-radius: 7px;
   width: 120px;
}

.input4{
   border-radius: 7px;
   width: 70px;
}

 label{
   font-size: smaller;
 }

 h2{
   margin: 0;
   padding-top: 40px;
   padding-left: 40px;
   
 }

 textarea{
   resize: none;
   width: 250px;
   height: 80px;
   border-radius: 7px;
 }

 .buttonadd{
   padding-top: 25px;
   padding-left: 40px;
   padding-bottom: 20px;
   
 }

 button{
   padding: 7px;
   background-color: green;
   color: aliceblue;
   border:none;
   border-radius:12px;
   
 }
